/* ADMIN LOGIN COMPONENT CSS */
.box {
  width: 450px;
  padding: 40px;
  background-color: aqua;
  transition: 0.25s;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 10px;
  text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
  margin: 20px auto;
  border: 2px solid #3498db;
  width: 250px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  margin: 20px auto;
  border: 2px solid #2ecc71;
  transition: 0.25s;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

/* DASHBOARD COMPONENT CSS */
.sidebar {
  width: 250px;
  font-family: Poppins;
}

.sidebar_names {
  text-decoration: none;
  color: white;
  background-color: #3498db;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  font-weight: 700;
  border-radius: 5px;
}

.dashboard {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  font-family: Poppins;
}

.boxes {
  border-radius: 7px;
  width: 30%;
  color: white;
  padding: 30px 0px;
  transition: all 0.5s ease;
  background-color: #191919;
  margin-bottom: 25px;
}

.boxe1 {
  width: 48%;
}

.logout_model {
  display: flex;
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 999;
}
.logout_model_inneer {
  background-color: white;
  border-radius: 6px;
  padding: 40px;
}
