.footer_logo {
  position: relative;
}
.list-unstyled a {
  text-decoration: none;
}
.footer_text {
  line-height: 30px;
}
.footer_links {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  cursor: pointer;
}

.footer_links:hover {
  margin-left: 20px !important;
}
.footer_main h4 b {
  color: black;
}

.footer-main {
  background-color: #f8f9fa;
  padding: 40px 0;
  color: #333;
  text-align: center;
}

.footer-logo {
  max-width: 100px;
}

.footer-text {
  line-height: 2;
  margin-top: 10px;
}

.footer-link {
  transition: margin-left 0.3;
}
