* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Hero_Main {
  width: 100%;
  background-image: url("../image/heroBg.jpg");
  display: flex;
}
.hero_text {
  padding: 80px 0;
}
.hero_Header {
  color: rgb(5, 60, 143);
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.hero_detail {
  font-size: 20px;
  line-height: 37px;
  padding-right: 15%;
  text-align: justify;
}
.hero_detail::first-letter {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(5, 60, 143);
}
.hero_detail::first-line {
  text-align: center;
}
/* 

} */

/* large screen */
@media only screen and (max-width: 1024px) {
  .hero_text {
    padding: 10px;
  }
  .hero_Header {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .hero_img > img {
    width: 430px;
  }
  .hero_detail {
    font-size: 20px;
    line-height: 30px;
  }
}
/* for tablat */
@media only screen and (max-width: 768px) {
  .Hero_Main {
    display: block;
  }
  .hero_text {
    padding: 10px;
    width: 100%;
  }
  .hero_Header {
    font-size: 37px;
    letter-spacing: 2px;
  }
  .hero_detail {
    line-height: 33px;
    padding-right: 0;
  }
  .hero_img > img {
    width: 430px;
  }
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .Hero_Main {
    width: 100%;
  }
  .hero_Header {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .hero_img > img {
    width: 330px;
  }
}

/* login and sign up from */
.login_from_main {
  background-color: #f3f2f0;
}
.form_main {
  background-color: white;
  width: 26%;
}
.form_title {
  text-align: center;
  color: rgb(5, 60, 143);
}
.password_icon{
  padding: 0;
  position: relative;
  top: -30px;
  left: 250px;
}